.glos-term {
  cursor: pointer;
  border-bottom: 3px orange dotted;
}

abbr.glos-term {
  text-decoration: none;
}

/* stylelint-disable-next-line selector-not-notation */
abbr.glos-term:not([title]):not([data-title-save]) {
  cursor: default;
  border-bottom: none;
}

.glossary-dialog-open {
  overflow: hidden;
}
